@charset "UTF-8";

.message-bubble {padding: 10px 0px 10px 0px;}

.message-bubble > * {padding-left: 20px;}

.panel-body {padding: 0px;}

.panel-heading {background-color: #3d6da7 !important; color: white !important;}

.form-control {display: block; margin : auto;}

.input-group {width:100%}